*{
    box-sizing: border-box;
}

input, button, textarea, select {
    font: inherit;
}

body {
    background-color: #E3E5F5 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Divisions */
.card {
    background-color: rgb(255, 255, 255);
    width: 450px;
    height: fit-content;
    justify-self: center;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(190, 190, 190);
}

form {
    display: flex;
    flex-direction: column;
    place-items: center center;
}

/* Titles */
h2 {
    font-size: 2em;
    margin: 0;
    font-weight: 750;
}

.subtitle {
    font-weight: 900;
}

.subtitle a{
    color: #4544B6;
    text-decoration: none;
}

/*Login with socials*/
.social-login{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    text-align: center;
    font-weight: 900;
    font-size: small;
    gap: 4px;
}

/*Logos*/
img { 
    height: 30px;
    vertical-align: middle;
}

p {
    display: inline-block;
}

/* Divider */
.or {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid lightgray; 
    line-height: 0.2em;
    margin: 10px 0 20px; 
    font-weight: 900;
} 

/* Horizontal line */
p span { 
    background:#ffffff; 
    padding:0 10px; 
}

/* Login with email */
.email-login {
    width: 100%;
    color: rgb(172, 169, 169);
}

label{
    font-weight: 900;
}

/* Login button */
.cta-btn {
    background-color: #4544B6;
    color: white;
}

/* Forget password button */
.forget-pass {
    text-decoration: none;
    color: #4544B6;
    font-weight: 600;
}

.forget-pass{
    padding: 5px;
}

/* Buttons and inputs */
button, input {
    width: 100%;
    display: block;
    height: 60px;
    padding: 5px;
    margin: 8px 0px 13px 0px; 
    border-radius: 10px; 
    border: 1.5px solid lightgray;
    background-color: rgb(255, 255, 255);
}

button:focus, input:focus {
    border: 2.5px solid #4544B6;
    outline: 0;
    outline: none;
}

input{
    padding: 1em;
    font-size: small;
}
