*{
    box-sizing: border-box;
}
input, button, textarea, select {
    font: inherit;
}
body {
    background-color: #E3E5F5 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    background-color: aquamarine;
    width: 50dvw;
    height: fit-content;
    justify-self: center;
    padding: 1rem;
    border-radius: 10px;
}
form {
    display: flex;
    flex-direction: column;
    place-items: center center;
    background-color: aquamarine;
}
.subtitle {
    font-weight:bolder;
}
.subtitle a{
    color: #4544B6;
    text-decoration: none;
}
.or {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
} 

p span { 
    background:#ffffff; 
    padding:0 10px; 
}

img { 
    height: 30px;
    vertical-align: middle;
}

button, input {
    width: 100%;
    display: block;
}
button, input {
    border-radius: 5px;
    height: 60px;
    padding: 5px;
}
.social-login{
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    text-align: center;

}
p {
    display: inline-block;
}

.email-login {
    width: 100%;

}
.forget-pass {
    text-decoration: none;
    color: #4544B6 ;
}